/* main.css */

body,
body a,
body h1,
body h2,
body h3,
body h4,
body h5,
body i {
    color: #364557;
}

h1 {
    font-size: 2.2rem;
}

br {
    display: block;
    margin: 3px 0;
}

.row .col h3 {
    padding-top: 0.32rem;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.danger_text {
    color: red;
}

i.info {
    margin-left: 0.4rem;
    font-size: 0.9rem;
    font-weight: bolder;
}

/* this is set via logo.js */
.rainbow {
}

#login #logo-div {
    margin-bottom: 0.35rem;
}

#login .logo {
    font-size: 4rem;
    line-height: 4.5rem;
}

#login .form-group,
#login_reset .form-group,
#password_reset .form-group {
    margin-bottom: 1rem;
}

#login input[type="submit"],
#login_reset input[type="submit"],
#password_reset input[type="submit"] {
    width: 100%;
    padding: 0.75rem 1rem;
}

#login .forgot-password {
    margin-top: 1.2rem;
    font-size: 0.9rem;
    text-decoration: none;
}

#login .forgot-password:hover {
    text-decoration: underline;
}

.navbar {
    background-color: #f6f8fa;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 1.3rem;
}

.navbar button,
.navbar a {
    color: #4a4a4a;
}

.navbar button:hover,
.navbar button:active,
.navbar .hamburger:hover,
.navbar .hamburger:active {
    background-color: #e7e7e7;
}

.navbar .hamburger,
.navbar #user-icon {
    padding-right: 0.63rem;
    padding-left: 0.63rem;
}

div .quick-actions {
    display: inline;
    padding-left: 0.4rem;
}

.navbar .quick-action-icon {
    padding-right: 0.63rem;
    padding-left: 0.63rem;
    margin-right: 0.2rem;
}

.navbar .hamburger {
    margin-right: 0;
}

div .quick-actions .dropdown-menu {
    --bs-dropdown-min-width: 8.25rem;
}

div .quick-actions .dropdown-menu {
    top: 1.85rem;
    right: 0.3rem;
    padding-top: 0.8rem;
    padding-bottom: 0.72rem;
}

div.box .quick-actions .dropdown-menu {
    --bs-dropdown-min-width: 10rem;
}

div .quick-actions a {
    padding-left: 1.3rem;
}

.quick-actions li {
    list-style: none;
    margin-bottom: 0.2rem;
}

.quick-actions a {
    text-decoration: none;
    color: #2D3B4A;
    font-size: 0.97rem;
    line-height: 24px;
}

div .quick-actions a:hover,
div .quick-actions a:active,
div .quick-actions a:focus,
div .quick-actions a:active:focus {
    color: black;
}

.quick-actions button.dropdown-toggle {
    font-size: 0.8rem;
    color: #646464;
    padding-right: 0.6rem;
    padding-left: 0.6rem;
}

.navbar ul {
    padding-left: 0;
    margin-bottom: 1.95rem;
}

.navbar .right ul {
    margin-bottom: 1.5rem;
}

.navbar a {
    padding-left: 0.25rem;
}

#error-modal i {
    text-color: red;
    font-size: 4rem;
}

.btn-light-alt {
    color: #212529;
    border: 1px solid #dee2e6;
    background-color: #f8f9fa;
}

.btn-light-alt:hover, .btn-light-alt:active,
.btn-light-alt:focus, .btn-light-alt:active:focus {
    color: #212529;
    border: 1px solid #dee2e6;
    background-color: #EEEEEE;
}

.btn-light-outline,
.btn-light-outline:hover, .btn-light-outline:active,
.btn-light-outline:focus, .btn-light-outline:active:focus {
    border: 1px solid #cfcfcf;
}

i.icon {
    padding-right: 0.5rem;
    font-size: 0.9rem;
}

div.icon-selection {
    display: inline flow-root;
    width: 4rem;
    padding: 0.6rem;
}

div.icon-selection .form-check-input {
    margin-top: 0.5rem;
    margin-left: 0.75rem;
}

i.icon.settings-icon {
    display: block;
    font-size: 2.5rem;
    line-height: 3rem;
}

#settings .content {
    margin-top: 1rem;
}

#settings .heading {
    margin-bottom: 0.3rem;
}

#settings_nav ul {
    padding-left: 0;
}

#settings_nav a {
    padding-left: 0.25rem;
    text-decoration: none;
}

#settings_nav a:hover, #settings_nav a:active,
#settings_nav a:focus, #settings_nav a:active:focus {
    color: black;
}

#settings_nav ul li {
    list-style: none;
    margin-bottom: 0.2rem;
}

.button-group {
    margin-top: 1.5rem;
}

.button-group .btn {
    min-width: 6.5rem;
    height: 2.5rem;
    margin-right: 0.4rem;
    padding-top: 0.35em;
}

.button-group a.btn {
    padding-top: 0.45em;
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: #3C4E62;
    border-color: #3C4E62;
}

.btn-primary:hover, .btn-primary:active,
.btn-primary:focus, .btn-primary:active:focus {
    color: #fff;
    background-color: #495D73;
    border-color: #495D73;
}

.btn-secondary {
    color: #2D3B4A;
    background: transparent none;
    border-color: #2D3B4A;
}

.btn-secondary:hover, .btn-secondary:active,
.btn-secondary:focus, .btn-secondary:active:focus {
    color: #2D3B4A;
    background-color: #EEEEEE;
    border-color: #3C4E62;
}

button.btn:disabled {
    background-color: #7088A4;
    border-color: #7088A4;
    cursor: not-allowed;
    pointer-events: none;
}

textarea.form-control {
    min-height: 10rem;
}

.box {
    width: 100%;
    border-radius: 0.3rem;
    outline: 1px solid #cfcfcf;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box .row {
    margin-right: 0;
    margin-left: 0;
}

.box .box-row {
    padding-top: 1rem;
    padding-right: 0.75rem;
    padding-bottom: 1rem;
    padding-left: 0.75rem;
}

.box .row:not(:last-child) {
    border-bottom: 1px solid #cfcfcf;
}

.box .row .left {
    /*margin-top: 0.5rem;
    margin-bottom: 0.5rem;*/
}

.box .box-row .title {
    padding-right: 0;
}

.box .row .right {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}

.box .row .body {
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
}

.badge {
    border-radius: var(--bs-border-radius) !important;
    background-color: var(--bs-info-bg-subtle) !important;
    color: var(--bs-info-text-emphasis) !important;
    font-weight: 400 !important;
    padding-top: .25rem !important;
    padding-bottom: .25rem !important;
    padding-right: .5rem !important;
    padding-left: .5rem !important;
    margin-right: 0.25rem;
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-info-border-subtle) !important;
}

.pills {
    margin-bottom: 0.1rem;
    padding-left: 0.5rem;
}

.ellipsis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* mobile */
@media (max-width: 575px) {
    h1 {
        font-size: 1.75rem;
    }

    .modal-body {
        padding-top: 0.75rem;
        padding-right: 0.75rem;
        padding-bottom: 0.2rem;
        padding-left: 0.75rem;
    }

    .box .box-row {
        padding-top: 0.7rem;
        padding-right: 0.2rem;
        padding-bottom: 0.75rem;
        padding-left: 0.2rem;
    }

    div.sub-table {
        margin-right: 0;
        margin-left: 0;
    }

    .action-button {
        width: 100%;
        margin-bottom: 0.5rem;
    }

    #settings_nav ul {
        margin-bottom: 0;
    }

    #settings_nav ul:last-of-type {
        margin-bottom: 1rem;
    }

    div.icon-selection {
        width: 3.1rem;
    }
}

@media (max-width: 991px) {
    .box {
        margin-top: 0rem;
    }
    .navbar {
        margin-bottom: 0.85rem;
    }
}
