<div id="settings_nav">
    <ul>
        <li><a href="/settings/profile"><i class="bi bi-person icon"></i>Profile</a></li>
        <li><a href="/settings/password"><i class="bi bi-shield-lock icon"></i>Password</a></li>
    </ul>
</div>
